html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  display: inline-block;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  padding: 0.4em 0.75em 0.3em;
  font-size: 1.125rem;
}

.btn:hover {
  background-color: #000;
}

.btn-subtle {
  background-color: #ccc;
}

.btn-subtle:hover {
  background-color: #666;
}

.btn-ghost {
  color: #000;
  border: 3px solid #000;
  background-color: #fff;
}

.btn-ghost:hover {
  background-color: #666;
  border-color: #666;
  color: #fff;
}

.btn-warning {
  background-color: #f33;
}

.btn-warning:hover {
  background-color: #933;
}

.btn-small {
  background-color: #333;
  font-size: 0.875rem;
}

.btn-small:hover {
  background-color: #000;
}

.btn-subtlesmall {
  background-color: #ccc;
  font-size: 0.875rem;
}

.btn-subtlesmall:hover {
  background-color: #666;
}

.btn-ghostsmall {
  color: #000;
  border: 3px solid #000;
  background-color: #fff;
  font-size: 0.875rem;
}

.btn-ghostsmall:hover {
  background-color: #666;
  border-color: #666;
  color: #fff;
}

.btn-warningsmall {
  background-color: #f33;
  font-size: 0.875rem;
}

.btn-warningsmall:hover {
  background-color: #933;
}

.btn-big {
  font-size: 1.5rem
}

.btn-big:hover {
  background-color: #000;
}

.btn-subtlebig {
  background-color: #ccc;
  font-size: 1.5rem;
}

.btn-subtlebig:hover {
  background-color: #666;
}

.btn-ghostbig {
  color: #000;
  background-color: #fff;
  border: 3px solid #000;
  font-size: 1.5rem;
}

.btn-ghostbig:hover {
  background-color: #666;
  border-color: #666;
  color: #fff;
}

.btn-warningbig {
  background-color: #f33;
  font-size: 1.5rem;
}

.btn-warningbig:hover {
  background-color: #933;
}
